<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Acom - 404 Error</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
    </head>


    <body>
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Something Wrong !</p>
                <p class="lead">
                    There's a problem in email or password
                  </p>
                <a href="/register" style="background-color: #ff8f9c;color: white;" class="btn rounded-0 rounded-top">Try Again!</a>
            </div>
        </div>
    </body>


</html>